.infoform {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
  }
  label {
    margin-top: 1rem;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.25rem;
    outline: none;
  }
  
  button {
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    background-color: rgb(104, 187, 255);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
  }
  
  .errorMsg {
    max-width: 100%;
    font-size:0.75rem;
    color:rgb(248, 106, 106);
  }