*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  font-size: 1.5rem;
  color:rgb(119, 119, 252);
  font-weight: 700;
  text-align: center;
}
body {
  font-family: "Sora", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(239, 240, 255);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.15rem;
}
.App {
  background-color: white;
  padding: 2rem;
  min-width: 500px;
  border-radius: 14px;
  box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);
}
